@media only screen and (min-width: 1300px) {

  .team-margin {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container-icon img {
  width: 350px !important;
  height: 350px !important;
  align-items: center;
  /* margin: 0 auto; */
  border-radius: 0 !important;
}

.resize-img { 
  border-radius: 100%;
  
}

  .square-container {
    flex-direction: row;

  }

  .team-container {
    display: flex !important;
  }

  .blog-container {
    display: flex;
    flex-direction: row !important;
  }


}