@media only screen and (min-width: 850px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .myButton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-left: 1vw;
  }
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d5f7fc;
  /* padding: 1rem; */
  border-radius: 10px;
  width: 25vw;
  margin: 3vw;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 14px 17px 6px rgba(10, 10, 10, 0.36);
  box-shadow: 5px 15px 20px 2px rgba(27, 27, 27, 0.36);
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(22, 92, 173);
}

.card p {
  font-size: 1rem;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(79, 136, 184);
  font-weight: 400;
  padding: 0 50px;
}

.card input {
  width: 10vw;
  margin-bottom: 10px;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.card input[type="submit"] {
  background-color: #008CBA;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.card input[type="submit"]:hover {
  background-color: #0077a8;
}


/* ************ */

.myButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-left: 11vw;
}

.myButton:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.myButton:active {
  position: relative;
  top: 1px;
}


@media only screen and (max-width: 950px) {

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }


  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #d5f7fc;
    /* padding: 1rem; */
    border-radius: 10px;
    width: 25vw;
    margin: 3vw;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 14px 17px 6px rgba(10, 10, 10, 0.36);
    box-shadow: 5px 15px 20px 2px rgba(27, 27, 27, 0.36);
  }

  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(22, 92, 173);
  }

  .card p {
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(79, 136, 184);
    font-weight: 400;
  }

  .card input {
    width: 10vw;
    margin-bottom: 10px;
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  .card input[type="submit"] {
    background-color: #008CBA;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }

  .card input[type="submit"]:hover {
    background-color: #0077a8;
  }


  /* ************ */

  .myButton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-left: 11vw;
  }

  .myButton:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
  }

  .myButton:active {
    position: relative;
    top: 1px;
  }

}