html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    /* font: inherit; */
    /* vertical-align: baseline; */
    font-family: 'Poppins', sans-serif;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ****************************************  CONTAINER  ************************************************ */

.container {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    height: 750px;
}

/* ****************************************  HEADER  ************************************************ */
header {
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 2px;
}

header li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    margin: 0 12px;
    text-transform: uppercase;
    font-weight: 400;
}

header h1 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header ul {
    line-height: 35px;
}

/* nav {
    
} */

nav ul{
    display: flex;
}

.logo-nav {
    width: 50px;
    font-size: 38px;
    margin-left: 40px;
}

.reseaux {
    display: flex;
}

/* ****************************************  SECTION 1  ************************************************ */

.main-section {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    
}

.right {
    width: 820px;
    /* background-color: blue; */
    margin-left: 80px;
}

.main-section img {
    height: 500px;
}

.left {
    width: 30%;
    display: block;
    position: relative;
    text-align: center;
    /* background-color: brown; */
    margin-left: -40px;
    margin-right: 10px;
    top: 40px;
}

.left h2 {
    color: rgb(49, 49, 49);
    font-size: 55px;
    text-align: left;
    margin-left: 60px;
    margin-bottom: 50px;
    font-weight: bold;
    letter-spacing: 0.67px;
}

.left p {
    color: rgb(49, 49, 49);
    text-align: left;
    margin-left: 60px;
    font-size: 18px;
    letter-spacing: 0.021em;
    margin-bottom: 45px;
}


.main-section form input {
    height: 50px;
    width: 80%;
    border-radius: 45px;
    border: none;
    opacity: 0.7;
    /* Enlever les bordure au clic */
    outline: none;
    transition: 0.5s;
}

.main-section form input:last-child {
    cursor: pointer;
}
.main-section form input:hover {
    transition: 0.s;
}

form input:last-child {
    height: 40px;
    width: 20%;
    background-color: rgba(18,148,184,1);
    position: relative;
    bottom: 45px;
    left: 29.2%;
    color: white;
    padding-left: 0;
    /* Comment bouger la barre d'écriture dans le champ ? */
}
form input:last-child:hover {
    opacity: 0.5;
}

/* ****************************************  SECTION2  ************************************************ */

.section2 {
    height: 650px;
}

.fa-solid.fa-globe {
    font-size: 60px;
    color: white;
    margin-top: 100px;
}

.fa-solid.fa-brush {
    font-size: 60px;
    color: white;
    margin-top: 100px;
}

.fa-solid.fa-chess {
    font-size: 60px;
    color: white;
    margin-top: 100px;
}

.section2 h4{
    font-size: 30px;
    margin-top: 40px;
    color: white;
}

.section2 .square p {
    
    color: rgba(200, 237, 246, 0.815);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.titre-h3 {
    width: 100%;
    text-align: center;
    margin: 40px 0px 60px 0px;
}

.titre-h3 h3 {
    color: rgb(49, 49, 49);
    margin: 10px 0 20px 0;
    font-size: 25px;
    letter-spacing: 0.024em;
    font-weight: 600;
}

.titre-h3 p {
    color: rgb(49, 49, 49);
    font-size: 15px;
    letter-spacing: 0.024em;
    font-weight: 600;
    line-height: 24px;
}

.square-container {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.square {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 420px;
    height: 420px;
    text-align: center;
    border-radius: 15px;
    margin-left: 40px;
    transition: 0.5s;
}

.square:hover {
    transform: translateY(-20px);
    transition: 0.5s;
    cursor: pointer;
}

/* ****************************************  SECTION3  ************************************************ */

.resize-img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.team-text {
    text-align: center;font-size: 22px;
}

.team-text h3 {
    margin-top: 50px;
    font-size: 22px;
}

.team-text p {
    font-size: 15px;
    margin-bottom: 100px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    text-align: center;
}